.para{
  color: white;
  text-align: center;
  font-size: 30px;
}
.chairs{
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
  border: orange 3px solid;
  border-radius: 3px;
}

.chairs2{
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  border: yellow 3px outset;
  border-radius: 3px;
}

.chairs3{
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
}
#header h1{

  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 80px;
  color: white;
  text-shadow:
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;

}

#header div{

  /*border: 5px black outset;*/
  /*border-radius: 10px;*/
}

#main-text {
  /*border: outset 15px black;*/
  border-radius: 5px;
  position: relative;
  top: 15px;
  height: 300px;

}

form{
  border: inset 5px black;
  border-radius: 5px;
  position: relative;
  top: 10px;
  margin: auto;
  width: 200px;
  height: 150px;
}



.cinema{
	text-align:center;

 }


.seatRow{
  /*display: inline-flex; */
	text-align:center;
  position: relative;
  top: 5px;
  padding: 10px 10px 10px 10px;
}
.seatRow img{
	width: 100px;
  /*display: inline-flex;*/
}
#ready {
    margin-top: 10px;
  }


body{
  background-image: url('assets/curtains_360.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  z-index: 100px;

  height: 100%;
  width:100%;
}
#screen{
  text-align: center;
  border:solid;
  width:100%;
  background-color: white;


}

/* desktop */

@media (max-width:1200px){
.seatRow img{
  width:100px;
}
}

@media (max-width:992px){
.seatRow img{
  width: 75px;
}
#header h1{
  font-size: 75px;
}
}
@media (max-width:688px){
  .seatRow img{
    width: 50px;
  }
  #header h1{
  font-size: 50px;
}
}


/* mobile */

@media (max-width:490px){
  .seatRow img{
    width: 40px;
  }
  #header h1{
  font-size: 40px;
}
}


@media (max-width:410px){
  .seatRow img{
    width: 35px;
  }

  #header h1{
  font-size: 35px;
}

}
@media (max-width:360px){
  .seatRow img{
    width: 29px;
  }
}
