
#header h1{

  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 100px;
  color: white;
}


#header div{

  border: 5px white outset;
  border-radius: 10px;
}







.cinema{
	text-align:center;

 }


.seatRow{
/*	display: inline-flex; */
	text-align:center;
  position: relative;
  top: 50px;
}
.seatRow img{
	width: 125px;
  display: inline-flex;


}



body{
  background-image: url('assets/curtain_open.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width:100%;
}

@media (max-width: 1200px){
  
  .seatRow img{width:100%; margin:auto; display: }
/* desktop */

@media (max-width:1200px){
.seatRow img{
  width:100px;
}
}

@media (max-width:992px){
.seatRow img{
  width: 75px;
}

}
@media (max-width:688px){
  .seatRow img{
    width: 50px;
  }
}

/* mobile */

@media (max-width:490px){
  .seatRow img{
    width: 40px;
  }
}


@media (max-width:410px){
  .seatRow img{
    width: 35px;
  }
}
@media (max-width:360px){
  .seatRow img{
    width: 29px;
  }
} 